*{
  text-align: center;
}
h1{
    font-size: 51px;
}
.box{
    background-color:#2c2a2a;
    border: 5px solid #000000;
    width:30%;
    margin-left: 440px;
    border-radius: 10px;
}

.heading{
  color: white;
}
.k,.k1{
    margin: 6px;
    padding: 26px;
    font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: #ecedef;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 28px;
  text-align: center;
  border-radius: 50%;
}

.grid-item:hover{
  background-color: #858585;
}

.grid-item1,.grid-item1:hover{
  background-color: rgb(232, 61, 61);
  color: white;
  border-radius: 50%;
  font-size: 15px
  }

body{
    background-color: #1f1f1f;
    text-align: center;
}

#text, .clear{
  margin-top: 10px;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    font-size: 28px;
}
.clear{
  font-size: 25px;
  padding: 20px;
}
