*{
  text-align: center;
}
h1{
    font-size: 51px;
    color: white;
}
.box{
    background-color:#2c2a2a;
    border: 5px solid #000000;
    width:30%;
    margin-left: 440px;
    border-radius: 10px;
}

.k,.k1{
    margin: 6px;
    padding: 26px;
    font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: #ecedef;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 28px;
  text-align: center;
  border-radius: 50%;
}

.grid-item:hover{
  background-color: #858585;
}

.grid-item1,.grid-item1:hover{
  background-color: rgb(232, 61, 61);
  color: white;
  border-radius: 50%;
  font-size: 15px
  }

body{
    background-color: #1f1f1f;
    text-align: center;
}


.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #000000;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: white;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator{
      border: 4px solid black;
      background-color: #1f1f1f;
      padding: 23px;
      border-radius: 53px;
      display: inline-block;

  }
